$gray : #adad85;


img.showImage {
  margin-top: 15px;
  width: 385px;
  height: 385px;
  padding: 15px;
  border: dotted $gray;
  margin-left: 25%;
}

.starter-template {
  padding-bottom: 5%;
}

.container{
  #head {
    line-height: 20px;
  }

  h2{
    padding-bottom: 20px;
  }
}
.jumbotron {
  background-color: transparent;
}
